@import "~antd/dist/antd.css";

.layout-content {
  margin: 1.5em;
}
.header-title {
  color: azure;
  text-align: right;
}
.product-card-title {
  text-align: center;
}

.centered {
  text-align: center;
  margin: 0 auto;
}
.ppage-form-item {
  margin: 1em;
}

.so-button {
  background-color: cadetblue;
}
